<!DOCTYPE html>
<html>
    <head>
        <title>WEB-Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1><a href="/">WEB</a></h1>
        <div id="container">
            <form action="/login" method="post">
                <p><input type='text' name='userid' placeholder='userid'></p>
                <p><input type='password' name='password' placeholder='password'></p>
                <p><input type='submit' value="Login">
            </form>
        </div>
        <div>{{ msg }}</div>
    </body>
</html>